<div class="image">
    <img ng-src="{{vm.article.lead_image_url}}">
</div>
<div class="content">
    <div class="header">{{vm.article.title}}</div>
    <div class="meta">
        <a ng-href="{{vm.article.short_url}}" target="_blank">
            {{vm.article.url}} 
            <i class="external icon"></i>
        </a>
    </div>
    <div class="description">
        {{vm.article.excerpt}}
    </div>
</div>
<div class="extra content">
    <span class="right floated">
        <a ng-if="!vm.isExamplesPage" ng-href="#/article-content/{{vm.index}}">
            <button class="ui icon orange tiny button">
                View Content
            </button>
        </a>
        <button ng-click="vm.saveArticle(vm.article)" ng-if="vm.isExamplesPage" class="ui icon teal tiny button">
            Save Article
        </button>
    </span>
</div>
